VDOTENV_PATH=path_here
EDINS_SERVER=10.5.20.4
export VDOTENV_PATH_MERGED="${VDOTENV_PATH}/expands/${USER}"
# VDOTENV_OS="${EDINS_SERVER} 'Operator': ${ZEBS_OPERATOR}"
VDOTENV_OS="${EDINS_SERVER} 'Operator': ${RAYNS_OPERATOR}"
export VDOTENV_ENVIRONMENT='development'
export VDOTENV_ENVI=
